body {
    margin: 0;
    font-family: Arial;
    min-height: 100vh;
    background:linear-gradient(to right, rgb(205, 117, 30), rgb(154, 111, 111), rgb(205, 117, 30) );

}

.sidebar {
    position:fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    background: bisque;
    display:flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.sidebar a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    max-width: 900px;
    min-height: 100vh;
    margin: auto;
    background-color: bisque;
    

}
 h1, h2, h3 {
    text-align: center;

 }
 p, ul {
    text-align: left
 }
ul {
    align-self: flex-start;
}
.races-block ul {
        display:flex;
        gap: 40px;
        align-items:flex-start;
}
.castle-img {
    width: auto;
    height: 500px ;
}
.img {
    width: auto;
    height: 500px;
}
.epic-boss {
    width: auto;
    height: 500px;
}